body {
    background-color: #3e3947;
    font-family: 'Old Standard TT', serif;

}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1,
p,
span {
    color: white;
}

.letter {
    font-size: 200px;
}

.word {
    position: absolute;
    font-size: 50px;
    text-transform: uppercase;
}

/* animation assignment */

#race,
#artigan,
#isual,
#ibrary {
    animation: appear 2s forwards;
    opacity: 0;
}

.up1 {
    animation: moveUp 1.5s forwards;
}

.down1 {
    animation: moveDown 1.5s forwards;
}

.up2 {
    animation: moveUp 1.5s forwards 2s;
}

.down2 {
    animation: moveDown 1.5s forwards 2s;
}

/* initial position of words */

#grace {
    left: 10vw;
}

#race {
    position: relative;
    left: -25px;
    animation-delay: 2.5s;
}

#hartigan {
    left: 30vw;
}

#artigan {
    position: relative;
    left: -5px;
    animation-delay: 3s;
}

#visual {
    left: 50vw;
}

#isual {
    position: relative;
    left: -55px;
    animation-delay: 3.5s;
}

#library {
    left: 70vw;
}

#ibrary {
    position: relative;
    left: -10px;
    animation-delay: 4s;
}

/* animation definition */

@keyframes moveUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes moveUpMobileShort {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-40%);
    }
}

@keyframes moveDownMobileShort {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(40%);
    }
}

@keyframes moveUpMobileFar {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-120%);
    }
}

@keyframes moveDownMobileFar {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(120%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1300px) {
    #grace {
        left: 10vw;
    }

    #hartigan {
        left: 10vw;
    }

    #visual {
        left: 47vw;
    }

    #library {
        left: 50vw;
    }

    .letter {
        font-size: 150px;
    }

    .word {
        font-size: 30px;
    }

    #race {
        left: -20px;
    }

    #artigan {
        left: -5px;
    }

    #isual {
        left: -45px;
    }

    #ibrary {
        left: -10px;
    }
}

@media screen and (max-width: 768px) {
    .up1 {
        animation: moveUpMobileFar 1.5s forwards;
    }

    .down1 {
        animation: moveUpMobileShort 1.5s forwards;
    }

    .up2 {
        animation: moveDownMobileShort 1.5s forwards;
    }

    .down2 {
        animation: moveDownMobileFar 1.5s forwards;
    }

    #visual {
        left: 10vw;
    }

    #library {
        left: 10vw;
    }
}
